<body>
<link href="./profil.component.css" rel="stylesheet">
<app-header></app-header>
<div class="container-fluid">
    <div class="row d-flex align-items-center"id="d2">
        <div class="offset-md-5 col-md-2 text-center"id="pdp2">
            <img src="data:image/jpeg;base64,{{user.ppic}}" style="box-shadow:rgb(71, 90, 106) 3px 3px 6px 0px;" height="75" width="81"  class="rounded-circle" >
        </div>
    </div>
    <div class="row d-flex align-items-center" id="name">
        <div class="offset-md-4 col-md-4 text-center">
            <h4>
                {{ user.pfirst_name }} {{ user.plast_name }}
            </h4>
        </div>
    </div>
    <div class="row d-flex align-items-center" id="bio">
        <div class="offset-md-4 col-md-4 text-center">
                <div *ngIf="user.bio"style="text-align: center;">
                    {{user.bio}}
                </div>
            <app-button-manage></app-button-manage>
        </div>
    </div>
    <!--<app-beta></app-beta>-->
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let post of tab">
                <app-postmanage [post]="post"></app-postmanage>
              </ng-container>
        </div>
      </div>
</div>
</body>
