#pdp2{

    padding-top:160px;
}
#d2{
    background-image: url("../../assets/téléchargement.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 200px;
    
}
#bio{
    color: grey;
     
}
#name{
    padding-top:40px;
}