<link href="./profil.component.css" rel="stylesheet">
<app-header></app-header>
<div class="container-fluid">
    <div class="row d-flex align-items-center"id="d2">
        <div class="offset-md-5 col-md-2 text-center"id="pdp2">
            <img src="../../assets/347245498_3570899629797993_7265237523852668848_n.jpg" style="box-shadow:rgb(71, 90, 106) 3px 3px 6px 0px;" height="75" width="81"  class="rounded-circle" >
        </div>
    </div>
    <div class="row d-flex align-items-center" id="name">
        <div class="offset-md-4 col-md-4 text-center">
            <h4>
                heithem Benmoussa
            </h4>
        </div>
    </div>
    <div class="row d-flex align-items-center" id="bio">
        <div class="offset-md-4 col-md-4 text-center">
            <p>
                computer science engineer
                istic 22-25 ssssssssss ssssssss ssss ssssssssssssss s
            </p>
        </div>
    </div>
</div>