#d1{
    background-color: #8BA0D2;
}
h1{
    font-weight: bold;
    font-family:fantasy;
    color:#E3E7FF;
}
h6{
    color:#E3E7FF;
}
a {
    text-decoration: none;
  }
  .container {
    padding: 0;
  }