<body>
    <div class="container-fluid">
    <app-headernews></app-headernews>
    <br>
    <app-newsfilter></app-newsfilter>
    <br>
    <div class="row">
        <div class="col-3" style="margin-bottom: 20px;">
            <app-suggested></app-suggested>
        </div>
        <div class="col-lg-5 ">
            <div class="row">
                <app-create-post></app-create-post><br/>
            </div>
    
    <div class="row mt-5">
            <app-beta></app-beta></div>
        </div>
    
    </div></div>
</body>
<!--
<br>
<app-searchfilter></app-searchfilter>
</div>
-->
