<div class="container-fluid py-3" id="d1">
    <div class="row d-flex align-items-center">
        <div class="col-sm-3 col-md-4 text-center">
            <h1>Start-Match</h1>
            <h6>Start your enterneurship journey</h6>
        </div>
        <div class="col-md-5 text-center" id="nav">
        </div>
        <div class="col-md-2 align-items text-center" id="profile-name">
            <h6 >{{userj.name}}</h6>
        </div>
        <div class="col-md-1   text-center ">

                <img src="../../assets/admin.png" height="75" width="81" id="pdp" class="rounded-circle" >

        </div>
    </div>
</div>