<div class="container">
    <div class="col-lg-5 , col-sm-12">
        <div class="profile-container">
            <div class="profile-data">
                <a id="linkProfile1" href=""><img id="user-picture" src="../../assets/1700506697307.jpg" alt="users-picture"></a>
                <div id="text">
                <a id="linkProfile2" href="" style="text-decoration: none; color: rgb(0, 0, 0);"><p id="user-name" style="margin-bottom: 0;">Nour Mezni</p></a>
                <span id="user-field" style="margin-top: 0;">Cyber Security</span>
                <br/><span id="user-data">CEO of Privacera</span>
                <div class="line" style="border-bottom: 1px solid rgb(205, 205, 205);width: 350px;"></div>
                </div></div></div></div> </div>
