<body>
    <div class="container-fluid">
    <app-headeradmin></app-headeradmin>
    <br>
    <div class="row">
        <div class="col-4" style="margin-bottom: 20px;">
            <app-reported></app-reported>
        </div>
        
            <div class="col-lg-5 ">
                <ng-container *ngFor="let post of tab">
                    <app-reportedpostmanage  [post]="post"></app-reportedpostmanage>
                </ng-container>
            </div>
        </div>


    </div>
</body>

