<body>
    <div class="container">
    
        <form class="form was-validated">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <label for="fname" style="color: rgb(255, 255, 255);"> Name of start-up:</label>
                    <input  style=" width: 400px; margin-bottom: 35px;" type="text" class="form-control" id="fname" style="background:#ffffff;">
                    </div>
                
                <div class="col-sm-12 col-lg-6">
                    <label for="phone" style="color: rgb(255, 255, 255);">Phone Number:</label>
                    <input   style=" width: 400px; margin-bottom: 35px;" type="number" class="form-control" id="phone" style="background:#ffffff;">
                </div>
            </div>
           
    
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <label for="email" style="color: rgb(255, 255, 255); ">Email:</label>
                    <input  style=" width: 400px; margin-bottom: 35px; " type="email" class="form-control" id="email" style="background:#ffffff;">
                </div>
                <div class="col-sm-12 col-lg-6">
                        <label for="date" style="color: rgb(255, 255, 255);">Date of Creation:</label>
                        <input   style=" width: 400px; margin-bottom: 35px;" type="date" class="form-control" id="date" style="background:#ffffff;">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <label for="address" style="color: rgb(255, 255, 255);">Address:</label>
                        <input   style=" width: 400px; margin-bottom: 35px;" type="text" class="form-control" id="address" style="background:#ffffff;">
                    </div>
    
    
                    <div class="col-sm-12 col-lg-6">
                    <label for="field" style="color: rgb(255, 255, 255);">Field:</label>
                    <input   style=" width: 400px; margin-bottom: 35px; " type="text" class="form-control" id="field" style="background:#ffffff;">
                </div>
                
                
            </div>
            <div class="row"><div class="col-sm-12 col-lg-6">
                <label for="bio" style="color: rgb(255, 255, 255);">Bio :</label>
                <textarea  style=" width: 400px; margin-bottom: 35px; " type="text" class="form-control" id="bio" style="background:#ffffff;"></textarea>
            </div></div>
    
            <div class="row" style="margin-top: 70px;">
                <div class="col d-flex align-items-center">
                    <p class="mb-0 me-2">I agree to our <span><a href="">Terms</a></span>, <span><a href="">Privacy Policy</a></span></p>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="switch">
                    </div>
                </div>
        
                
                <button type="click" id="done" class="btn " ><a routerLink="/profile" routerLinkActive="active" style="text-decoration: none; color: black;">Done</a></button>
            
            </div>
        </form>
            </div>
    
            
        
        
        
    </body>