.polaroid{
  display:flex;
  max-width: 700px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius:5px;
  margin:30px;
  flex-direction: column;
  flex-wrap:wrap;


}
.eclipse{
    width: 75px; 
    height: 75px; 
    border-radius: 50%; 
    object-fit: cover; 
    
}
.enligne{
    display: flex; 
    justify-content: left;
    align-items: center; 
    
}
.text_of_post{
    position:relative;
    margin:10px 15px 30px;
    /*flex-shrink:2;*/
}
.container p,
.container img{
    margin :10px;
    max-width: 100%;
}
.image_within_post{
    position:relative;
    margin:10px 20px 20px ;
}
.font{
    font-family: 'Roboto', sans-serif;
}
.person-description{
    color:#9597A1;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}
.name{
    font-family: 'Roboto', sans-serif;
}
.status{
    margin-left: 105px;
    color:#D20319;
    background-color: #FFE5E8;
    font-family: 'Inter', sans-serif;

    width:60px;
    padding: 5px;
    border-radius: 20px;
    font-weight: 500;
}