<body>
<div class="container">
    <div class="row">
    <div class="col offset-4">
        <div class="polaroid">
            <div class="row mb-3">
                <div class="col-12 enligne">
                <img  routerLink="" class="img-fluid eclipse"  [src]="post.picture" alt="person/startup_img">
                <p>
                    <span routerLink="" class="name">{{ post.person_name }}</span>
                     <br>
                    <span class="person-description">{{ post.person_status }} <br>
                    <span class="person-description">{{ post.post_date }}</span>
                </span>
                </p>
            </div>
            <div class="status">{{ post.status }}</div>
            </div>
                <div class="text_of_post col-12 mt-5">
                    <p class="font">{{ post.text_content }}</p>
                </div>
                <div class=" container image_within_post col-12">
                    <img  class=" mx-auto d-block rounded" [src]="post.media_content" alt="image_within_post"/>
                </div>
                
    </div>
</div>
</div>
</div>
</body>
