<link href="./headernews.component.css" rel="stylesheet">
<div class="container-fluid py-3" id="d1">
    <div class="row d-flex align-items-center ">
        <div class="col-sm-3 col-md-4 text-center">
            <a routerLink='/newsfeed'><h1>Start-Match</h1></a>
           <a routerLink='/newsfeed'> <h6>Start your enterneurship journey</h6></a>
        </div>
        <div class="col-md-5 text-center">
            <app-navbarnews></app-navbarnews>
        </div>
        <div class="col-md-2 text-center" id="profile-name" >
            <a routerLink='/profile'  ><h6 >{{ user.pfirst_name }} {{ user.plast_name }}</h6></a>
        </div>
        <div class="col-md-1 text-center">
            <a routerLink='/profile'><img src="../../assets/347245498_3570899629797993_7265237523852668848_n.jpg" height="75" width="81" id="pdp" class="rounded-circle" ></a>
        </div>
    </div>
</div>