
<body>
    <div class="container-fluid">
      <app-headernews></app-headernews>
    </div>

    <br><br>
<section class="py-3 py-md-5">
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded" loading="lazy" src="../../assets/rajel.png" alt="About 1">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="mb-3">Who Are We?</h2>
              <p class="lead fs-4 text-secondary mb-3">Our project consists of building StartMatch , a plateform dedicated to all actors in
                enterpreneurship, that can do the match-making between founder,co-founder or founderinvestor or investor-startup.</p>
              <p class="mb-5">We aim to create a dedicated and comprehensive platform
                specifically designed for the needs of entrepreneurs, founders, co-founders start-ups
                and investors.It provides a user-friendly platform where users can connect, collaborate,
                and grow together.</p>
              
            </div>
          </div>
        </div>
      </div>
      <br> <br>
      <h1 class="text-center">Meet Start-Match Team</h1>
      <br>
      <div class="row">

        <div class="card-group ">
          <div class="card custom-bg-transparent">
              <div class="card-body">
                  <div class="text-center">
                      <img class="image card-img img-fluid" src="../../assets/347245498_3570899629797993_7265237523852668848_n.jpg"/>
                  </div>
                  <div class=" text-center infos mt-3">
                      <div class="row person_name">
                          <span>Heithem BenMoussa</span>
                      </div>
                      <div class="row"><p class="text-center colored">Software engineer student</p></div>
                      <span></span>
                      <span class="pers_desc"> Highly interested in business foundation and expert in computer science</span>
                  </div>
              </div>
          </div>
          <div class="card custom-bg-transparent">
              <div class="card-body">
                  <div class="text-center">
                      <img class="image" src="../../assets/1700506697307.jpg"/>
                  </div>
                  <div class=" text-center infos mt-3">
                      <div class="col person_name">
                          <span>Noor Mezni </span>
                      </div>
                      <div class="row"><p class="text-center colored">Software engineer student</p></div>
                      <span></span>
                      <span class="pers_desc"> Highly interested in business foundation and expert in computer science</span>
          
                  </div>
              </div>
          </div>
          <div class="card custom-bg-transparent">
              <div class="card-body">
                  <div class="text-center">
                      <img class="image" src="../../assets/oussema.jpeg"/>
                  </div>
                  <div class=" text-center infos mt-3">
                      <div class="col person_name"><span>Oussema Guerriche</span></div>
                      <div class="row"><p class="text-center colored">Software engineer student</p></div>
                      <span></span>
                      <span class="pers_desc"> Highly interested in business foundation and expert in computer science</span>
                      
                  </div>
              </div>
          </div>
          <div class="card custom-bg-transparent">
              <div class="card-body">
                  <div class="text-center">
                      <img class="image" src="../../assets/neji.jpeg"/>
                  </div>
                  <div class=" text-center infos mt-3">
                      <div class="row person_name">
                          <span>Neji Dridi</span>
                      </div>
                           <div class="row"><p class="text-center colored">Software engineer student</p></div>
                          <span></span>
                          <span class="pers_desc"> Highly interested in business foundation and expert in computer science</span>
                     
                      
                  </div>
              </div>
          </div>
        </div>
      </div>
      </div>
  </section>
</body>