<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <p class="font">About Us</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>StartMatch, aims to create a dedicated and comprehensive platform specifically designed for the needs of entrepreneurs, founders, co-founders start-ups and investors.It provides a user-friendly platform where users can connect, collaborate, and grow together.</p>
        </div>
    </div>
</div>