
<div class="row">
    <div class="col-2">
      <p class="d-inline-flex gap-1">
        <button
          class="btn btn-success"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsesearchfilter"
          aria-expanded="false"
          aria-controls="collapsesearchfilter"
          id="btf">
          filter
        </button>
      </p>
    </div>
    <div class="collapse col" id="collapsesearchfilter">
      <form action="">
        <div class="btn-group">
          <div class="dropdown">
            <button
              class="btn btn-outline-primary text-dark dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              year of experience
            </button>
            <ul class="dropdown-menu">
              <li>
                <div class="dropdown-item">
                  <input
                    type="checkbox" #checkboxes (change)="getSelectedFilters()"
                    class="form-check-input"
                    value="more than 20"
                  />more than 20
                </div>
              </li>
              <li>
                <div class="dropdown-item">
                  <input
                    type="checkbox" #checkboxes (change)="getSelectedFilters()"
                    class="form-check-input"
                    value="between 5 and 20"
                  />between 5 and 20
                </div>
              </li>
              <li>
                <div class="dropdown-item">
                  <input
                    type="checkbox" #checkboxes (change)="getSelectedFilters()"
                    class="form-check-input"
                    value="less than 5"
                  />less than 5
                </div>
              </li>
            </ul>
          </div>
  
          <div class="dropdown">
            <button
              class="btn btn-outline-primary text-dark dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              field
            </button>
            <ul class="dropdown-menu menu-scroll">
              <li *ngFor="let val of field">
                <div class="dropdown-item">
                  <input
                    type="checkbox" #checkboxes (change)="getSelectedFilters()"
                    class="form-check-input"
                    [value]="val"
                  />{{val}}
                </div>
              </li>
            </ul>
          </div>
  
          <div class="dropdown">
            <button
              class="btn btn-outline-primary text-dark dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              status
            </button>
            <ul class="dropdown-menu">
              <li>
                <div class="dropdown-item">
                  <input
                    type="checkbox" #checkboxes (change)="getSelectedFilters()"
                    class="form-check-input"
                    value="founder"
                  />founder
                </div>
              </li>
              <li>
                <div class="dropdown-item">
                  <input
                    type="checkbox" #checkboxes (change)="getSelectedFilters()"
                    class="form-check-input"
                    value="co-founder"
                  />co-founder
                </div>
              </li>
              <li>
                <div class="dropdown-item">
                  <input
                    type="checkbox" #checkboxes (change)="getSelectedFilters()"
                    class="form-check-input"
                    value="investor"
                  />investor
                </div>
              </li>
            </ul>
        </div>
        <div class="dropdown">
          <button
            class="btn btn-outline-primary text-dark dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            type
          </button>
          <ul class="dropdown-menu">
            <li>
              <div class="dropdown-item">
                <input
                  type="checkbox" #checkboxes (change)="getSelectedFilters()"
                  class="form-check-input"
                  value="post"
                />post
              </div>
            </li>
            <li>
              <div class="dropdown-item">
                <input
                  type="checkbox" #checkboxes (change)="getSelectedFilters()"
                  class="form-check-input"
                  value="profile"
                />profile
              </div>
            </li>
          </ul>
        </div>
        </div>
        <button (click)="affich()" type="submit" class="btn btn-outline-danger text-dark" id="bt">save</button>
        <button type="reset" (click)="reset()" class="btn btn-outline-danger text-dark">reset</button>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>