.d{
    width: 600px;
}
#search_btn{
    background-color:#3A5587;
    color:#FFFFFF;
    border-radius:6px;
    border:none;
    width:70px;
    text-align:center;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    margin-left: 0.3rem;
} 