button.btn1{
    color:white;
    background: #BAC7DF;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px ;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
button.btn2{
    color:white;
    background: #BAC7DF;
    border-radius:0 ;
    margin-left: 3px
}
input.inp1{
    color:white;
    background: #BAC7DF; 
    border-top-right-radius: 22px ;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:22px;
}
.form-control::placeholder{
    color:white;
}
.bi-search{
    color:white;
    background-color:#BAC7DF ;
}
.input-group-text{
    background-color: #BAC7DF;
    border-radius: 0px;
    margin-left: -13px;
}
