<app-header></app-header>
<br>
<app-searchfilter></app-searchfilter>
<br>
<div id="d1">
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            selected status
            <br>
            <span *ngFor="let item of shared.checkedsta" class="badge rounded-pill text-bg-light text-dark">{{item}}</span>
          </li>
          <li class="list-group-item">
            selected type <br> 
            <span *ngFor="let it of shared.checkedtype" class="badge rounded-pill text-bg-light text-dark">{{it}}</span>
          </li>
          <li class="list-group-item">selected experience <br>
            <span *ngFor="let item of shared.checkedex" class="badge rounded-pill text-bg-light text-dark">{{item}}</span>
        </li>
          <li class="list-group-item">selected fileds <br>
            <span *ngFor="let item of shared.checkedfield" class="badge rounded-pill text-bg-light text-dark">{{item}}</span>
        </li>
        </ul>
      </div>
</div>